<button class="btn btn-primary" type="button" *ngIf="users">
  <i class="fa fa-calendar" aria-hidden="true"></i> Người dùng
  <span class="badge">{{this.totalItems}}</span>
</button>
<hr/>

<button class="btn btn-primary btn-sm" (click)="viewAddUser()">
  <i class="fa fa-user-plus fa-2x" aria-hidden="true"></i>Tạo tài khoản
</button>
<div [@flyInOut]="'in'">
  <table class="table table-hover">
    <thead>
    <tr>

      <th>Tên đăng nhập</th>
      <th>Họ tên</th>
      <th>Email</th>
      <th>Điện thoại</th>
      <th>Thao tác</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let usr of users">
      <td class="text-xs-left">{{usr.UserName}}</td>
      <td>{{usr.FULLNAME}}</td>
      <td>{{usr.Email}}</td>
      <td class="text-xs-left">{{usr.PHONE}}</td>
      <td><a class="btn btn-warning" (click)="viewUserDetails(usr)"><i class="fa fa-pencil-square-o"></i> Cập nhật</a>
        <a class="btn btn-danger" (click)="deleteUser(usr)"><i class="fa fa-trash-o"></i> Xóa</a>
      </td>


    </tr>
    </tbody>
  </table>

  <pagination [boundaryLinks]="true" [totalItems]="totalItems" [itemsPerPage]="itemsPerPage" [(ngModel)]="currentPage"
              class="pagination-sm"
              previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;"
              (pageChanged)="pageChanged($event)"></pagination>
</div>

<div bsModal #childModal="bs-modal" class="modal fade popup" tabindex="-1" role="dialog"
     aria-labelledby="mySmallModalLabel">
  <div class="modal-dialog modal-lg" *ngIf="selectedUserLoaded">
    <div class="modal-content" style="background-color:darkcyan;">
      <div class="modal-header">
        <button type="button" class="close" aria-label="Close" (click)="hideChildModal()">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 *ngIf="!this.addingUser"> Cập nhật tài khoản: {{selectedUser.UserName}}</h4>
        <h4 *ngIf="this.addingUser"> Thêm tài khoản</h4>
      </div>
      <div class="modal-body">
        <form method="post" #viewUserForm="ngForm" *ngIf="selectedUserLoaded" novalidate>

          <!--Validate-->
          <div class="alert alert-danger" [hidden]="viewUserForm.form.valid">
            <ul *ngIf="EMAILInput.dirty && !EMAILInput.valid ">
              <li *ngIf="EMAILInput.errors.required">Email không được bỏ trống</li>
              <li *ngIf="EMAILInput.errors.pattern">Email không hợp lệ</li>

            </ul>
            <ul *ngIf="PHONEInput.dirty && !PHONEInput.valid">
              <li *ngIf="PHONEInput.errors.required">Điện thoại không được bỏ trống</li>
              <li *ngIf="PHONEInput.errors.pattern">Số điện thoại phải từ 1-20 ký tự</li>
            </ul>

            <ul *ngIf="USERNAMEInput.dirty && !USERNAMEInput.valid ">
              <li *ngIf="USERNAMEInput.errors.required">Username không được bỏ trống</li>
              <li *ngIf="USERNAMEInput.errors.pattern">Username phải từ 1-50 ký tự</li>
            </ul>
            <ul *ngIf="FULLNAMEInput.dirty && !FULLNAMEInput.valid ">
              <li *ngIf="FULLNAMEInput.errors.required">Họ tên không được bỏ trống</li>
              <li *ngIf="FULLNAMEInput.errors.pattern">Họ tên phải từ 1-200 ký tự</li>
            </ul>

            <ul *ngIf="PASSWORDInput.dirty && !PASSWORDInput.valid ">
              <li *ngIf="PASSWORDInput.errors.pattern">Password phải từ 1-50 ký tự</li>
              <li *ngIf="PASSWORDInput.errors.required">Password không được bỏ trống</li>
            </ul>

            <ul *ngIf="DOMAINInput.dirty && !DOMAINInput.valid ">
              <li *ngIf="DOMAINInput.errors.pattern">Domain phải từ 1-200 ký tự</li>
              <li *ngIf="DOMAINInput.errors.required">Domain không được bỏ trống</li>
            </ul>
            <ul *ngIf="DOMAINDESCInput.dirty && !DOMAINDESCInput.valid ">
              <li *ngIf="DOMAINDESCInput.errors.pattern">Mô tả phải từ 1-500</li>
              <li *ngIf="DOMAINDESCInput.errors.required">Mô tả không được bỏ trống</li>
            </ul>

          </div>
          <!--End Validate-->
          <div class="form-group">
            <label><span style="color:red">*</span> UserName:</label>
            <input type="text" class="form-control" [readonly]="!this.addingUser"
                   [(ngModel)]="this.selectedUser.UserName" name="Username" #USERNAMEInput="ngModel" required
                   pattern=".{1,50}"/>
          </div>
          <!--<div class="form-group">-->
          <!--<label ><span style="color:red">*</span> Group:</label>-->
          <!--<input type="text" class="form-control" [readonly] = "!this.addingUser"  [(ngModel)]="this.selectedUser.Groups" name="Username" #USERNAMEInput="ngModel" required pattern=".{1,50}"/>-->
          <!--</div>-->
          <div class="form-group">
            <label><span style="color:red">*</span> Mật khẩu:</label>
            <input type="password" class="form-control" [readonly]="!this.addingUser"
                   [(ngModel)]="this.selectedUser.PASSWORD" name="Password" #PASSWORDInput="ngModel" required
                   pattern=".{1,50}"/>
          </div>
          <div class="form-group">
            <label><span style="color:red">*</span> Họ tên:</label>
            <input type="text" class="form-control" [(ngModel)]="this.selectedUser.FULLNAME" name="FULLNAME"
                   #FULLNAMEInput="ngModel" required pattern=".{1,200}"/>
          </div>
          <div class="form-group">
            <label><span style="color:red">*</span> Email:</label>
            <input type="text" class="form-control" [(ngModel)]="this.selectedUser.Email" name="EMAIL"
                   #EMAILInput="ngModel" required pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"/>
          </div>
          <div class="form-group">
            <label><span style="color:red">*</span> Điện thoại:</label>
            <input type="text" class="form-control" [(ngModel)]="this.selectedUser.PHONE" name="PHONE"
                   #PHONEInput="ngModel" required pattern=".{1,20}"/>
            <!--<textarea type="text" class="form-control" readonly>{{selectedMessage.Content}}</textarea>-->
          </div>
          <div class="form-group" [class.hidden]="!this.addingUser">
            <label><span style="color:red">*</span> Domain:</label>
            <input type="text" class="form-control" [(ngModel)]="this.selectedUser.Domain" name="DOMAIN"
                   #DOMAINInput="ngModel" required pattern=".{1,200}"/>

          </div>
          <div class="form-group" [class.hidden]="!this.addingUser">
            <label><span style="color:red">*</span> Mô tả:</label>
            <input type="text" class="form-control" [(ngModel)]="this.selectedUser.DomainDesc" name="DOMAINDESC"
                   #DOMAINDESCInput="ngModel" required pattern=".{1,500}"/>

          </div>

          <div class="form-group" *ngFor="let item of this.selectedUser.Groups">
            <!--<div class="col-sm-2" [class.hidden]="!this.addingUser">-->
              <!--<label><span style="color:red">*</span> {{item.Name}}</label>-->
            <!--</div>-->
            <div class="col-sm-2">
              <!--<input type="checkbox" class="form-control input-sm"  >-->
              <input type="checkbox" class="form-control" name="item"
                     [checked]="item.Check" (change)="item.Check = $event.target.checked"> {{item.Name}}

            </div>
          </div>

          <hr/>
          <button [class.hidden]="this.addingUser"
                  [disabled]="!viewUserForm.form.valid &&(!DOMAINInput.valid && this.addingUser) &&(!DOMAINDESCInput.valid && this.addingUser)"
                  (click)="editUser(this.selectedUser)" type="button" class="btn btn-warning">Cập nhật
          </button>
          <button [class.hidden]="!this.addingUser" [disabled]="!viewUserForm.form.valid"
                  (click)="addNewUser(this.selectedUser)" type="button" class="btn btn-success">Thêm
          </button>

        </form>
      </div>
    </div>
  </div>
</div>
